body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #191919; 
}

#overlay {
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: rgba(12, 21, 29, 0.7); 
    text-align: center;
}

#elements {
    max-width: 500px;
    margin: 0 auto;
}

#show-top {
    padding: 20px;
}

.home {
    text-decoration: none;
}

#image {
    width: 30%; 
    max-width: 100px; 
    height: auto; 
    border-radius: 50%;
    border: 2px solid #087EC4;
    margin: 20px;
}

#title {
    margin: -10px;
    color: #FAFAFA; 
}

#show-middle {
    padding: 20px;
}

.button {
    display: grid;
    grid-template-columns: 20% 2% 88%;
    align-items: center; 
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #087EC4;
    background-color: #171F26; 
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    max-width: 500px; 
}

.button:hover {
    background-color: #087EC4
}

.button i {
    color: #FAFAFA;
    font-size: 190%;
}

.content {
    color: #FAFAFA;
    justify-self: start;
    text-align: left;
    padding: 7px 7px 7px 0px;
}

.content p {
    margin: 0;
}

.subtitle {

}

.description {
    font-size: 12px;
    font-weight: 400;
}

.soon {
    color: #FAFAFA;
    font-size: 40px;
    font-weight: 500;
}

#show-buttom {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#show-buttom i {
    color: #FAFAFA;
    font-size: 200%;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #FAFAFA;
    margin-bottom: 20px;
}

#footer p {
    font-size: 10px;
    margin: 0;
}

.name {
    color: #087EC4;
}

@media screen and (max-width: 300px) {
    .button i {
        font-size: 150%;
    }

    .soon {
        font-size: 30px;
    }
}

@media screen and (max-height: 590px) {
    #overlay {
        height: auto;
    }
    #footer {
        position: relative;
    }
}
