body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.header::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(/src/img/Fondo-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.header-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  text-align: center;
  width: 400px;
  height: 400px;
}

.header-content .logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.projects::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(/src/img/Fondo-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.projects-content {
  position: absolute;
  z-index: 1;
  color: #000;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}

.text {
  line-height: 1.5;
  margin-top: 1.2rem;
  margin-bottom: -0.5rem;
}

.container {
  margin: 1rem;
  overflow: hidden;
  padding: 1rem;
  z-index: 1;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px;
  grid-gap: 20px;
}

.touch {
  border-radius: 5%;
  transition: all 500ms;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.touch:hover {
  background-color: #44444479;
  border-radius: 5%;
}

.logo-round {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.text-center {
  text-align: center;
  margin: auto;
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}

@media (max-width: 560px) {
  .header::after {
    height: 60vh;
  }

  .header-content {
    top: 3%;
    margin-top: 5px;
  }

  .header-content .logo {
    height: 140px;
    width: 140px;
  }

  .projects::after {
    height: 225vh;
  }

  .grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-height: 500px) {
  .header::after {
    height: 80vh;
  }

  .header-content {
    top: 3.5%;
    margin-top: 5px;
  }

  .header-content .logo {
    height: 140px;
    width: 140px;
  }

  .projects::after {
    height: 315vh;
  }

  .grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 350px);
  }
}
